body {
    background-color: lightgray;
    color:aquamarine;
}
h1 {
    background-color:rgb(0, 219, 226);
    font-size: x-large;
    text-align: center;
    color: aquamarine;

}
.button {
    width: 5px; /* Chiều rộng của nút */
    height: 5px; /* Chiều cao của nút */
    background-size: cover; /* Đảm bảo hình ảnh phủ toàn bộ nút */
    background-position: center; /* Căn giữa hình ảnh */
    border: none; /* Không có đường viền */
    cursor: pointer; /* Con trỏ chuột khi di chuột qua nút */
    display: inline-block; /* Để nút không chiếm toàn bộ chiều rộng */
    outline: none; /* Xóa viền khi nút được nhấn */
}

.button:focus {
    outline: none; 
}
.box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: moveUpDown 0.5s infinite alternate;
}

@keyframes moveUpDown {
    0% {
        top: 0;
    }
    100% {
        top: 200px;
    }
}
.background-example {
    width: 100vw; /* Chiều rộng toàn bộ viewport */
    height: 500vh; /* Chiều cao toàn bộ viewport */
    background-image: url('bg.jpg');
    background-size: cover; /* Kéo dài hình ảnh để bao phủ toàn bộ phần tử */
    background-repeat: no-repeat;
    background-position: center;;
}
